*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.banner{
    display: flex;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 139px;
    width: 1321px;
    height: 646px;
    background-color: #161616;
    border-radius: 15px;
    color: white;
}

.banner-text{
    padding: 80px;
    width: 50%;
}
.banner-images{
    width: 50%;
    padding: 45px;
}
.banner-images img{
    width: 100%;
}
.banner-text h1{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 1.2;
    margin-bottom: 20px;

}

.banner-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
    font-style: normal;
    
}

.btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 23px;
    text-align: center; 
    background-color: #DD0000;
    border: none;
    width: 187px;
    height: 56px;
    color: white;

}
.sidebar-full{
    border:1px solid #00ffff;
background-color:#0d0d0d;
text-align:center;
position:fixed;
z-index: 9999;
top : 800px;
bottom: 1200px;
/* overflow: hidden; */
float: clear;
left: 16%; /* position halfway from the left of screen */    
margin: 0px 0px -425px 0px; /* pull the div into center */ 
}

    
    

.sidebar{
    /* margin-top: 130px;
    margin-left: 140px;
    margin-right: 24px;
    width: 312px;
    height: 312px; */
    background-color: #161616;
    border-radius: 10px;
}

.rightbar{
    width: 936;
    margin-left:476px ;
    margin-top: 130px;
    
}

.cart{
    
    width: 312px;
    height: 362px;
}
.sidebar-right{
display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px, 24px;
}
/* .btn-sitebar-1{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 23px; 
    background-color: #FFFFFF;
    border: none;
    width: 187px;
    height: 56px;
    color: black;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    margin-top: 10px;
} */

/* .nav{
    
} */

li{
    background-color: white;
    border-radius: 10px;
    width: 252px;
    height: 64px;
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;

}